@import (multiple) '../../../node_modules/ng-zorro-antd/src/style/themes/dark';
@import './base';

@primary-color: #ababab;
@sidebar-logo-bg: #000000;
@app-header-bg: #000000;
@inner-content-bg: #000000;
@app-layout-bg: #000000;
@app-tree-bg: #ffffff;

@custom-div-bg:#000000;
@custom-div-border: 2px solid #ffffff;
@custom-div-color: #ffffff;
